node_modules
.env

# jest
coverage

# files uploaded by users on the server 
storage/*
!storage/books/book.epub
!storage/books/book.pdf
!storage/books/default.jpg
!storage/usersProfilePic/default.webp
